body {
  background: #f7f3f5;
  padding: 0;
  margin: 0;
}
html {
  overflow-y: scroll; // 页面不抖动但会在右边留位置

}
* {
  box-sizing: border-box;
}

a {
  color: #494949;
  text-decoration: none;
  cursor: pointer;
}

:root {
  --main-color: #18b8be;
  --bg-color: #ccd9e2;
}
.bg-color{
  background-color: var(--bg-color)!important;
}
// 显示颜色
.active {
  color: var(--main-color);
}


::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

::-webkit-scrollbar-corner {
  background: #bfbfbf;
}


table {
  border: 1px solid #ccc;

  border-collapse: collapse;

  td,
  th {
    border: 1px solid #ccc;
    padding: 10px;
  }


}
